<table class="table table-striped table-light table-hover">
  <tbody>
  <% @data.sort.select{ _1[0] > 'PXD005158'}.to_h.each do |re| %>
    <tr><td>
    <%= re[1]['title'] %><br>
    <a href="<%= "/jpost/" + re[0] %>">details</a><br>
    species: "<%= re[1]['species'].join('", "').gsub(';', '", "') %>"<br>
    keywords: "<%= re[1]['keywords'].join('", "').gsub(';', '", "') %>"
    </td></tr>
  <% end %>
  </tbody>
</table>
