<a href="https://repository.jpostdb.org/proxi/spectra?usi=mzspec:PXD005159:150211tk04-whole_2m8h-3.wizd:scan:2&resultType=full" target="_blank" rel="noopener noreferrer">150211tk04-whole_2m8h-3</a>

<div class="pxds">
  <% if @pxds %>
    <% @pxds.each do |x| %>
      <%= x %><p>
    <% end %>
  <% end %>
</div>
