h1 {
    color: brown;
}
body {
    background-color: lightyellow;
}
.world {
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    width: 900px;
    height: 500px;
    padding: 4%;
    margin: 10px;
}
.container {
    margin: 0 auto;
    text-align: left;
}
.container input {
    display: none;
}
.container label {
    cursor: pointer;
    padding: 0 10px;
}
.container input:checked + .btm {
    height: auto;
    padding: 0 0 0 20px;
    background-color: lightsalmon;
    border-width: 1px;
    border-color: chocolate;
    border-radius: 5px;
}
.btn {
    text-align: left;
    display: block;
    width: 80px;
    margin: 0;
}
.btm {
    transition: 0.2s;
    height: 0;
    overflow: hidden;
    padding: 0 0 0 20px;
}